<div class="footer">
    <p><span class="emphasis">© Copyrights:</span> Télésport 2023</p>
    <p><span class="emphasis">Credits:</span> background image by <a href="https://unsplash.com/@bt_optics?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="
        _blank">Bryan Turner</a> from <a href="https://unsplash.com/fr/photos/mF9m6BRHCtg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_b
        ">Unsplash</a>.
    </p>
    <p>Made with <span class="crimson"><mat-icon>favorite</mat-icon></span> by <a href="https://github.com/Popysid" target="_blank">Popysid</a> with <span class="emphasis">Angular 15</span></p>
</div>