<div class="chart-container">
    <div *ngIf="dataLoaded">
        <div *ngIf="olympics?.length != 0">
            <canvas baseChart class="chart"
                [data]="chartData"
                [type]="chartType"
                [options]="chartOptions"
                [plugins]="chartPlugins">
            </canvas>
        </div>
        <div *ngIf="olympics?.length == 0">
            <p class="dialog-warning">No data available.</p>
        </div>
    </div>
    <div *ngIf="!dataLoaded">
        <p class="dialog-warning">Data Loading</p>
        <mat-spinner></mat-spinner>
    </div>
</div>
